telethon
pyrogram
python-dotenv
psutil
opencv-python-headless
devgagantools
aiofiles
aiohttp>=3.8.0
telethon-tgcrypto
motor
pymongo
pytz
Pillow
tgcrypto
flask
werkzeug==2.2.2
mutagen
yt-dlp
requests
cryptography
